@import "../../../App.scss";

.curp-container {
    width: 80%;
    
    p {
        color: rgb(65, 125, 214);
    }

    .genders {
        display: flex;
        flex-direction: column;

        .checkboxes {
            display: flex;
            gap: 5rem;
        }
    }

    .apellidos {
        display: flex;

        input {
            width: 75%;
        }
    }

    .button-generar {
        height: 4rem;
        
        button {
            width: 50%;
            margin-top: 1.7rem;
            padding: 10px;
            letter-spacing: 1px;
            display: flex;
            text-transform: uppercase;
            background-color: rgb(199, 194, 194);
            cursor: pointer;
            justify-content: center;
            a {
                color: rgb(60, 138, 211);
                text-decoration: none;
            }
        }

    }

}