@import "../../../App.scss";

.Datos-container {
    width: auto;
    h2 {
        text-align: center;
    }
    p, h2 {
        color: rgb(65, 125, 214);

    }
    .valorCliente {
        width: 30%;
        margin-left: 15rem;
        p{
            color: rgb(65, 125, 214);
            text-align: center;
        }
        .cuadroVerde {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 3rem;
            }
        }
    }
    .selecPromo {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        select {
            width: 80%;    
        }
        

    }
    .NIPcontainer {
        display: flex;
        gap: 1rem;
        margin-left: 3rem;
    }

    .ICCID {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        input {
            width: 80%;
        }
    }

    .botContainer {
        display: flex;
        gap: 2rem;
        margin-left: 3rem;
        .codigoBarras {
            width: 20%;
            display: flex;
            align-items: flex-end;
        }
    }

    
    .botones {
        display: flex;
        gap: 1rem;
        width: auto;
        height: auto;
        margin-left: 3rem;
        button {
            width: 40%;
            padding: 8px;
            height: 30%;
            margin-top: 1rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: rgba(0, 0, 255, 0.616);
            cursor: pointer;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    .botonModal {
        margin-top: 1rem;
        margin-left: 14rem;
        button {
            border-radius: 1rem;
            padding: 8px;
            cursor: pointer;
            background-color: rgb(179, 25, 25);
            text-transform: uppercase;
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    .pormishuevos {
        border: 1px solid red;
        position: inherit;

    }
}