@import "../../../App.scss";

.Datos-container {
    h2 {
        text-align: center;
    }
    p, h2 {
        color: rgb(65, 125, 214);

    }
    .valorCliente {
        width: 30%;
        transform: translateX(240px) translateY(30px);
        p{
            color: rgb(65, 125, 214);
            text-align: center;
        }
        .cuadroVerde {
            height: 50px;
            img {
                transform: translateX(35px) translateY(-10px);
                width: 50%;
                max-height: 55%;
                object-fit: contain;
            }
        }
    }
    select {
        width: 100%;
    }
    .selecPromo {
        transform: translateY(3px) translateX(50px);
        width: 70%;

    }
    .NIP {
        width: 70%;
        transform: translateX(50px);
        input, p {
            width: 40%;
        }
    }
    .confNIP {
        width: 50%;
        transform: translateY(-73px) translateX(190px);
        input {
            width: 60%;
        }
    }

    .ICCID {
        width: 60%;
        transform: translateY(-73px) translateX(50px);
        input {
            width: 80%;
        }
    }

    .codigoBarras {
        width: 20%;
        transform: translateY(-103px) translateX(267px);

    }

    .IMEI {
        width: 60%;
        transform: translateY(-120px) translateX(50px);
        input {
            width: 80%;
        }

    }
    .botones {
        width: 70%;
        height: 100;
        transform: translateY(-105px) translateX(50px);
        button {
            width: 50%;
            padding: 8px;
            height: 40%;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: rgba(0, 0, 255, 0.616);
            cursor: pointer;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}